.centred {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#mainCanvas {
  background-color: #000000;
}

#menu {
/*   border: 2px solid red; */
  position: absolute;
  
  padding: clamp(8px, 1.2vh, 16px) 0;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
  
  justify-content: space-between;
  place-items: center;
}

.menuButton {
  background-color: #FFDEA2;
  width: 80%;
  height: 80%;
  border: 3px solid #19296F;
  
  padding: 0.6em 0;
  font-size: 6vh;
  border-radius: 10px;
  
  cursor: pointer;
}

.menuButton:hover {
  transform: scale(1.05);
  background-color: #E6C890;
}

.inactiveMenuButton {
  background-color: #EFD6AB;
  width: 80%;
  height: 80%;
  border: 3px solid #3F4C70;
  
  padding: 0.6em 0;
  font-size: 6vh;
  border-radius: 10px;
  
  cursor: not-allowed;
}

.cursorHideClass {
  cursor: none;
}